/* latin-ext */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(HI_SiYsKILxRpg3hIP6sJ7fM7PqlM-vWjMY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevW.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body {
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Source Code Pro', sans-serif;
    background-color: #222;
    color: #ABC;
}

.ace_editor {
    font: 0.8em 'Source Code Pro' !important;
}

.hidden {
    display: none;
}

.blocking {
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.frameSeparator {
    position: relative;
    flex-grow: 0;
    width: 1px;
    background-color: #111;
}

.frame {
    position: relative;
    overflow: hidden;
    background-color: inherit;
    flex-grow: 1;
}

#contents {
    position: relative;
    flex-grow: 1;
    background-color: inherit;
    display: flex;
    flex-direction: row;
}

.IDE {
    position: absolute;
    height: 100%;
    width: 100%;
}

div {
    cursor: default;
}

.ace_content {
    cursor: text;
}
